# Pandas

In [2]:
import pandas as pd

In [7]:
pd.set_option("display.max_columns", None, "display.max_rows", None)

https://pandas.pydata.org/docs/user_guide/index.html

Будем разбирать возможности библиотеки Pandas на примере конкурса https://www.kaggle.com/competitions/home-credit-default-risk/overview

### Const

In [3]:
data_path = 'data/home-credit-default-risk/application_train_small.csv'

### Data

In [4]:
df = pd.read_csv(data_path)

In [8]:
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,163465,0,Cash loans,F,N,Y,0,54000.0,50940.0,5166.0,45000.0,Unaccompanied,State servant,Secondary / secondary special,Married,House / apartment,0.031329,-18735,-5347,-6359.0,-2115,NaN,1,1,0,1,0,0,Cooking staff,2.0,2,2,FRIDAY,9,0,0,0,0,0,0,Medicine,NaN,0.262258,0.417100,0.0082,0.0,0.9702,0.5920,0.0015,0.0,0.0345,0.0417,0.0833,0.0395,0.0067,0.0105,0.0,0.0,0.0084,0.0,0.9702,0.6080,0.0015,0.0,0.0345,0.0417,0.0833,0.0404,0.0073,0.0109,0.0,0.0,0.0083,0.0,0.9702,0.5975,0.0015,0.0,0.0345,0.0417,0.0833,0.0402,0.0068,0.0107,0.0,0.0,reg oper account,block of flats,0.0082,"Stone, brick",No,0.0,0.0,0.0,0.0,-1059.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
1,256730,0,Cash loans,M,N,N,0,58500.0,269550.0,10116.0,225000.0,Unaccompanied,Pensioner,Secondary / secondary special,Separated,House / apartment,0.020246,-23152,365243,-15551.0,-4795,NaN,1,0,0,1,0,0,NaN,1.0,3,3,MONDAY,8,0,0,0,0,0,0,XNA,NaN,0.336225,NaN,0.0082,0.0,0.9518,0.3404,0.0068,0.0,0.0690,0.0417,0.0833,0.0254,0.0067,0.0050,0.0,0.0,0.0084,0.0,0.9518,0.3662,0.0069,0.0,0.0690,0.0417,0.0833,0.0260,0.0073,0.0052,0.0,0.0,0.0083,0.0,0.9518,0.3492,0.0068,0.0,0.0690,0.0417,0.0833,0.0259,0.0068,0.0051,0.0,0.0,not specified,block of flats,0.0039,Wooden,Yes,7.0,0.0,7.0,0.0,-2.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2.0,0.0,0.0,0.0,0.0,0.0
2,208600,0,Revolving loans,M,N,Y,0,126000.0,180000.0,9000.0,180000.0,Unaccompanied,Commercial associate,Higher education,Single / not married,House / apartment,0.019689,-9172,-2229,-1060.0,-1850,NaN,1,1,1,1,1,0,Managers,1.0,2,2,THURSDAY,18,0,0,0,1,1,0,Military,NaN,0.500816,0.377404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-817.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
3,444689,0,Cash loans,M,Y,Y,0,126000.0,139230.0,10903.5,112500.0,Other_B,Pensioner,Secondary / secondary special,Married,House / apartment,0.007020,-23445,365243,-4303.0,-4765,3.0,1,0,0,1,0,0,NaN,2.0,2,2,WEDNESDAY,11,0,0,0,0,0,0,XNA,NaN,0.289591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,6.0
4,140507,0,Cash loans,F,N,N,0,225000.0,1800000.0,49500.0,1800000.0,Unaccompanied,State servant,Higher education,Married,House / apartment,0.035792,-19622,-11059,-3538.0,-3083,NaN,1,1,0,1,0,0,Core staff,2.0,2,2,THURSDAY,14,0,0,0,0,0,0,School,0.620969,0.684274,0.670652,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,-1718.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,2.0,8.0

#### Общее представление о датафрейме

In [9]:
df.shape

(30751, 122)

In [11]:
list(df.columns)

['SK_ID_CURR',
 'TARGET',
 'NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'OWN_CAR_AGE',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'OCCUPATION_TYPE',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'WEEKDAY_APPR_PROCESS_START',
 'HOUR_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
 'EXT_SOURCE_1',
 'EXT_SOURCE_2',
 'EXT_SOURCE_3',
 'APARTMENTS_AVG',
 'BASEMENTAREA_AVG',
 'YEARS_BEGINEXPLUATATION_AVG',
 'YEARS_BUILD_AVG',
 'COMMONAREA_AVG',
 'ELEVATORS_AVG',
 'ENTRANCES_AVG',
 'FLOORSMAX_AVG',
 'FLOORSMIN_AVG',
 'LANDAREA_AVG',
 'LIVINGAPARTMENTS_AVG',
 'LIVINGAREA_AVG',
 'NONLIVINGAPARTMENTS_AVG',
 'NONLIVINGAREA_AVG',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'YEARS_BUILD_MODE',
 'COMMONAREA_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'FLOORSMIN_MODE',
 'LANDAREA_MODE',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BUILD_MEDI',
 'COMMONAREA_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'FLOORSMIN_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAREA_MEDI',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'TOTALAREA_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR']

In [12]:
df.dtypesb

SK_ID_CURR                        int64
TARGET                            int64
NAME_CONTRACT_TYPE               object
CODE_GENDER                      object
FLAG_OWN_CAR                     object
FLAG_OWN_REALTY                  object
CNT_CHILDREN                      int64
AMT_INCOME_TOTAL                float64
AMT_CREDIT                      float64
AMT_ANNUITY                     float64
AMT_GOODS_PRICE                 float64
NAME_TYPE_SUITE                  object
NAME_INCOME_TYPE                 object
NAME_EDUCATION_TYPE              object
NAME_FAMILY_STATUS               object
NAME_HOUSING_TYPE                object
REGION_POPULATION_RELATIVE      float64
DAYS_BIRTH                        int64
DAYS_EMPLOYED                     int64
DAYS_REGISTRATION               float64
DAYS_ID_PUBLISH                   int64
OWN_CAR_AGE                     float64
FLAG_MOBIL                        int64
FLAG_EMP_PHONE                    int64
FLAG_WORK_PHONE                   int64
FLAG_CONT_MOBILE                  int64
FLAG_PHONE                        int64
FLAG_EMAIL                        int64
OCCUPATION_TYPE                  object
CNT_FAM_MEMBERS                 float64
REGION_RATING_CLIENT              int64
REGION_RATING_CLIENT_W_CITY       int64
WEEKDAY_APPR_PROCESS_START       object
HOUR_APPR_PROCESS_START           int64
REG_REGION_NOT_LIVE_REGION        int64
REG_REGION_NOT_WORK_REGION        int64
LIVE_REGION_NOT_WORK_REGION       int64
REG_CITY_NOT_LIVE_CITY            int64
REG_CITY_NOT_WORK_CITY            int64
LIVE_CITY_NOT_WORK_CITY           int64
ORGANIZATION_TYPE                object
EXT_SOURCE_1                    float64
EXT_SOURCE_2                    float64
EXT_SOURCE_3                    float64
APARTMENTS_AVG                  float64
BASEMENTAREA_AVG                float64
YEARS_BEGINEXPLUATATION_AVG     float64
YEARS_BUILD_AVG                 float64
COMMONAREA_AVG                  float64
ELEVATORS_AVG                   float64
ENTRANCES_AVG                   float64
FLOORSMAX_AVG                   float64
FLOORSMIN_AVG                   float64
LANDAREA_AVG                    float64
LIVINGAPARTMENTS_AVG            float64
LIVINGAREA_AVG                  float64
NONLIVINGAPARTMENTS_AVG         float64
NONLIVINGAREA_AVG               float64
APARTMENTS_MODE                 float64
BASEMENTAREA_MODE               float64
YEARS_BEGINEXPLUATATION_MODE    float64
YEARS_BUILD_MODE                float64
COMMONAREA_MODE                 float64
ELEVATORS_MODE                  float64
ENTRANCES_MODE                  float64
FLOORSMAX_MODE                  float64
FLOORSMIN_MODE                  float64
LANDAREA_MODE                   float64
LIVINGAPARTMENTS_MODE           float64
LIVINGAREA_MODE                 float64
NONLIVINGAPARTMENTS_MODE        float64
NONLIVINGAREA_MODE              float64
APARTMENTS_MEDI                 float64
BASEMENTAREA_MEDI               float64
YEARS_BEGINEXPLUATATION_MEDI    float64
YEARS_BUILD_MEDI                float64
COMMONAREA_MEDI                 float64
ELEVATORS_MEDI                  float64
ENTRANCES_MEDI                  float64
FLOORSMAX_MEDI                  float64
FLOORSMIN_MEDI                  float64
LANDAREA_MEDI                   float64
LIVINGAPARTMENTS_MEDI           float64
LIVINGAREA_MEDI                 float64
NONLIVINGAPARTMENTS_MEDI        float64
NONLIVINGAREA_MEDI              float64
FONDKAPREMONT_MODE               object
HOUSETYPE_MODE                   object
TOTALAREA_MODE                  float64
WALLSMATERIAL_MODE               object
EMERGENCYSTATE_MODE              object
OBS_30_CNT_SOCIAL_CIRCLE        float64
DEF_30_CNT_SOCIAL_CIRCLE        float64
OBS_60_CNT_SOCIAL_CIRCLE        float64
DEF_60_CNT_SOCIAL_CIRCLE        float64
DAYS_LAST_PHONE_CHANGE          float64
FLAG_DOCUMENT_2                   int64
FLAG_DOCUMENT_3                   int64
FLAG_DOCUMENT_4                   int64
FLAG_DOCUMENT_5                   int64
FLAG_DOCUMENT_6                   int64
FLAG_DOCUMENT_7                   int64
FLAG_DOCUMENT_8                   int64
FLAG_DOCUMENT_9                   int64
FLAG_DOCUMENT_10                  int64
FLAG_DOCUMENT_11                  int64
FLAG_DOCUMENT_12                  int64
FLAG_DOCUMENT_13                  int64
FLAG_DOCUMENT_14                  int64
FLAG_DOCUMENT_15                  int64
FLAG_DOCUMENT_16                  int64
FLAG_DOCUMENT_17                  int64
FLAG_DOCUMENT_18                  int64
FLAG_DOCUMENT_19                  int64
FLAG_DOCUMENT_20                  int64
FLAG_DOCUMENT_21                  int64
AMT_REQ_CREDIT_BUREAU_HOUR      float64
AMT_REQ_CREDIT_BUREAU_DAY       float64
AMT_REQ_CREDIT_BUREAU_WEEK      float64
AMT_REQ_CREDIT_BUREAU_MON       float64
AMT_REQ_CREDIT_BUREAU_QRT       float64
AMT_REQ_CREDIT_BUREAU_YEAR      float64
dtype: object

In [13]:
df['CNT_CHILDREN'].describe()

count    30751.000000
mean         0.420116
std          0.727609
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max         19.000000
Name: CNT_CHILDREN, dtype: float64

In [14]:
df.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,30751.000000,30751.000000,30751.000000,3.075100e+04,3.075100e+04,30751.000000,3.071800e+04,30751.000000,30751.000000,30751.000000,30751.000000,30751.000000,10604.000000,30751.0,30751.000000,30751.000000,30751.000000,30751.000000,30751.000000,30751.000000,30751.000000,30751.000000,30751.000000,30751.000000,30751.000000,30751.000000,30751.000000,30751.000000,30751.000000,13343.000000,30688.000000,24690.000000,15236.000000,12826.000000,15826.000000,10536.000000,9534.000000,14475.000000,15332.000000,15490.000000,10134.000000,12602.000000,10000.000000,15396.000000,9689.000000,13903.000000,15236.000000,12826.000000,15826.000000,10536.000000,9534.000000,14475.000000,15332.000000,15490.000000,10134.000000,12602.000000,10000.000000,15396.000000,9689.000000,13903.000000,15236.000000,12826.000000,15826.000000,10536.000000,9534.000000,14475.000000,15332.000000,15490.000000,10134.000000,12602.000000,10000.000000,15396.000000,9689.000000,13903.000000,15995.000000,30669.000000,30669.000000,30669.000000,30669.000000,30751.000000,30751.000000,30751.000000,30751.000000,30751.000000,30751.000000,30751.000000,30751.000000,30751.000000,30751.000000,30751.000000,30751.0,30751.000000,30751.000000,30751.000000,30751.000000,30751.000000,30751.000000,30751.000000,30751.000000,30751.000000,26607.000000,26607.000000,26607.000000,26607.000000,26607.000000,26607.000000
mean,278574.796007,0.079119,0.420116,1.691541e+05,5.999336e+05,27086.586843,5.389200e+05,0.020866,-16016.754837,62642.313421,-4995.073721,-2999.137394,12.058563,1.0,0.823128,0.200026,0.998016,0.279763,0.055153,2.158206,2.054632,2.031999,12.089656,0.015609,0.050275,0.039739,0.078664,0.235862,0.184612,0.502020,0.513997,0.512168,0.117672,0.087829,0.977418,0.752717,0.045093,0.079897,0.148795,0.226558,0.232413,0.065369,0.101240,0.107924,0.008326,0.027864,0.114299,0.086989,0.976718,0.759956,0.043183,0.075268,0.144024,0.222488,0.228488,0.064068,0.105998,0.106412,0.007513,0.026567,0.118063,0.087407,0.977447,0.755962,0.044974,0.079134,0.148341,0.226262,0.232170,0.066269,0.102338,0.109145,0.008098,0.027840,0.102771,1.401937,0.138022,1.385699,0.096482,-967.586062,0.000033,0.709115,0.000033,0.016032,0.085526,0.000195,0.083217,0.004130,0.000065,0.003902,0.0,0.003317,0.003187,0.001203,0.009691,0.000260,0.007870,0.000618,0.000293,0.000325,0.005938,0.007141,0.036381,0.270079,0.266208,1.870485
std,102840.696643,0.269929,0.727609,1.432425e+05,4.003982e+05,14315.378419,3.667996e+05,0.013870,4351.759070,140288.601213,3520.100810,1513.969562,11.902614,0.0,0.381567,0.400026,0.044495,0.448890,0.228282,0.915935,0.508792,0.502692,3.272213,0.123960,0.218515,0.195347,0.269218,0.424543,0.387989,0.210646,0.190730,0.194477,0.109736,0.079996,0.061575,0.113997,0.076437,0.136149,0.098867,0.144607,0.163028,0.078105,0.093968,0.112555,0.040421,0.068332,0.109137,0.082436,0.067026,0.110453,0.075542,0.133538,0.099367,0.143557,0.162675,0.078815,0.098978,0.114261,0.038485,0.069135,0.110270,0.079966,0.061895,0.112764,0.076579,0.136101,0.099087,0.144971,0.163684,0.079332,0.094607,0.114320,0.039730,0.069162,0.109205,2.288193,0.431296,2.268688,0.351055,832.223000,0.005703,0.454178,0.005703,0.125601,0.279667,0.013967,0.276214,0.064133,0.008065,0.062347,0.0,0.057498,0.056363,0.034667,0.097965,0.016127,0.088363,0.024850,0.017105,0.018030,0.078286,0.118980,0.210309,0.930317,0.619821,1.836447
min,100003.000000,0.000000,0.000000,2.610000e+04,4.500000e+04,1980.000000,4.500000e+04,0.000290,-25197.000000,-17522.000000,-19488.000000,-6265.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.023195,0.000010,0.000527,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-4079.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,188962.000000,0.000000,0.000000,1.125000e+05,2.700000e+05,16573.500000,2.385000e+05,0.010006,-19649.500000,-2770.000000,-7491.500000,-4304.000000,5.000000,1.0,1.000000,0.000000,1.000000,0.000000,0.000000,2.000000,2.000000,2.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.332824,0.392974,0.372334,0.056700,0.043700,0.976700,0.687200,0.007700,0.000000,0.069000,0.166700,0.083300,0.018500,0.050400,0.044500,0.000000,0.000000,0.051500,0.040600,0.976700,0.699400,0.007100,0.000000,0.069000,0.166700,0.083300,0.016500,0.054200,0.042000,0.000000,0.000000,0.057300,0.043200,0.976700,0.691400,0.007700,0.000000,0.069000,0.166700,0.083300,0.018500,0.051300,0.045000,0.000000,0.000000,0.041100,0.000000,0.000000,0.000000,0.000000,-1579.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278586.000000,0.000000,0.000000,1.485000e+05,5.185620e+05,24885.000000,4.500000e+05,0.018850,-15721.000000,-1226.000000,-4522.000000,-3269.000000,9.000000,1.0,1.000000,0.000000,1.000000,0.000000,0.000000,2.000000,2.000000,2.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.507140,0.565443,0.537070,0.086600,0.076300,0.981600,0.755200,0.020850,0.000000,0.137900,0.166700,0.208300,0.047700,0.074800,0.073700,0.000000,0.003500,0.084000,0.074500,0.981600,0.764800,0.018900,0.000000,0.137900,0.166700,0.208300,0.045300,0.074400,0.072650,0.000000,0.001000,0.084800,0.075900,0.981600,0.758500,0.020600,0.000000,0.137900,0.166700,0.208300,0.048300,0.076100,0.074200,0.000000,0.003000,0.068400,0.000000,0.000000,0.000000,0.000000,-761.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,368208.000000,0.000000,1.000000,2.025000e+05,8.086500e+05,34587.000000,6.795000e+05,0.028663,-12402.500000,-292.000000,-2014.000000,-1720.000000,15.000000,1.0,1.000000,0.000000,1.000000,1.000000,0.000000,3.000000,2.000000,2.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.674219,0.662437,0.669057,0.148500,0.112575,0.986600,0.823200,0.052275,0.120000,0.206900,0.333300,0.375000,0.083900,0.121000,0.131025,0.003900,0.026800,0.143900,0.112700,0.986600,0.823600,0.049400,0.120800,0.206900,0.333300,0.375000,0.082300,0.131300,0.125400,0.003900,0.022250,0.148900,0.112000,0.986600,0.825600,0.052075,0.120000,0.206900,0.333300,0.375000,0.085100,0.123100,0.131100,0.003900,0.026000,0.126750,2.000000,0.000000,2.000000,0.000000,-272.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456252.000000,1.000000,19.000000,1.800009e+07,3.375000e+06,215500.500000,3.375000e+06,0.072508,-7489.000000,365243.000000,0.000000,0.000000,65.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,20.000000,3.000000,3.000000,23.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.941621,0.855000,0.880268,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,27.000000,6.000000,27.000000,6.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,9.000000,8.000000,19.000000,19.000000,13.000000

#### Статистики по столбцам

In [15]:
df['NAME_CONTRACT_TYPE'].nunique()

2

In [16]:
df['NAME_CONTRACT_TYPE'].unique()

array(['Cash loans', 'Revolving loans'], dtype=object)

In [18]:
df['NAME_CONTRACT_TYPE'].value_counts(dropna=False, normalize=True)

Cash loans         0.904523
Revolving loans    0.095477
Name: NAME_CONTRACT_TYPE, dtype: float64

In [20]:
df.isnull().sum()/df.shape[0]

SK_ID_CURR                      0.000000
TARGET                          0.000000
NAME_CONTRACT_TYPE              0.000000
CODE_GENDER                     0.000000
FLAG_OWN_CAR                    0.000000
FLAG_OWN_REALTY                 0.000000
CNT_CHILDREN                    0.000000
AMT_INCOME_TOTAL                0.000000
AMT_CREDIT                      0.000000
AMT_ANNUITY                     0.000000
AMT_GOODS_PRICE                 0.001073
NAME_TYPE_SUITE                 0.004748
NAME_INCOME_TYPE                0.000000
NAME_EDUCATION_TYPE             0.000000
NAME_FAMILY_STATUS              0.000000
NAME_HOUSING_TYPE               0.000000
REGION_POPULATION_RELATIVE      0.000000
DAYS_BIRTH                      0.000000
DAYS_EMPLOYED                   0.000000
DAYS_REGISTRATION               0.000000
DAYS_ID_PUBLISH                 0.000000
OWN_CAR_AGE                     0.655166
FLAG_MOBIL                      0.000000
FLAG_EMP_PHONE                  0.000000
FLAG_WORK_PHONE                 0.000000
FLAG_CONT_MOBILE                0.000000
FLAG_PHONE                      0.000000
FLAG_EMAIL                      0.000000
OCCUPATION_TYPE                 0.309714
CNT_FAM_MEMBERS                 0.000000
REGION_RATING_CLIENT            0.000000
REGION_RATING_CLIENT_W_CITY     0.000000
WEEKDAY_APPR_PROCESS_START      0.000000
HOUR_APPR_PROCESS_START         0.000000
REG_REGION_NOT_LIVE_REGION      0.000000
REG_REGION_NOT_WORK_REGION      0.000000
LIVE_REGION_NOT_WORK_REGION     0.000000
REG_CITY_NOT_LIVE_CITY          0.000000
REG_CITY_NOT_WORK_CITY          0.000000
LIVE_CITY_NOT_WORK_CITY         0.000000
ORGANIZATION_TYPE               0.000000
EXT_SOURCE_1                    0.566095
EXT_SOURCE_2                    0.002049
EXT_SOURCE_3                    0.197099
APARTMENTS_AVG                  0.504536
BASEMENTAREA_AVG                0.582908
YEARS_BEGINEXPLUATATION_AVG     0.485350
YEARS_BUILD_AVG                 0.657377
COMMONAREA_AVG                  0.689961
ELEVATORS_AVG                   0.529284
ENTRANCES_AVG                   0.501415
FLOORSMAX_AVG                   0.496277
FLOORSMIN_AVG                   0.670450
LANDAREA_AVG                    0.590192
LIVINGAPARTMENTS_AVG            0.674807
LIVINGAREA_AVG                  0.499333
NONLIVINGAPARTMENTS_AVG         0.684921
NONLIVINGAREA_AVG               0.547885
APARTMENTS_MODE                 0.504536
BASEMENTAREA_MODE               0.582908
YEARS_BEGINEXPLUATATION_MODE    0.485350
YEARS_BUILD_MODE                0.657377
COMMONAREA_MODE                 0.689961
ELEVATORS_MODE                  0.529284
ENTRANCES_MODE                  0.501415
FLOORSMAX_MODE                  0.496277
FLOORSMIN_MODE                  0.670450
LANDAREA_MODE                   0.590192
LIVINGAPARTMENTS_MODE           0.674807
LIVINGAREA_MODE                 0.499333
NONLIVINGAPARTMENTS_MODE        0.684921
NONLIVINGAREA_MODE              0.547885
APARTMENTS_MEDI                 0.504536
BASEMENTAREA_MEDI               0.582908
YEARS_BEGINEXPLUATATION_MEDI    0.485350
YEARS_BUILD_MEDI                0.657377
COMMONAREA_MEDI                 0.689961
ELEVATORS_MEDI                  0.529284
ENTRANCES_MEDI                  0.501415
FLOORSMAX_MEDI                  0.496277
FLOORSMIN_MEDI                  0.670450
LANDAREA_MEDI                   0.590192
LIVINGAPARTMENTS_MEDI           0.674807
LIVINGAREA_MEDI                 0.499333
NONLIVINGAPARTMENTS_MEDI        0.684921
NONLIVINGAREA_MEDI              0.547885
FONDKAPREMONT_MODE              0.676433
HOUSETYPE_MODE                  0.498455
TOTALAREA_MODE                  0.479854
WALLSMATERIAL_MODE              0.506130
EMERGENCYSTATE_MODE             0.471042
OBS_30_CNT_SOCIAL_CIRCLE        0.002667
DEF_30_CNT_SOCIAL_CIRCLE        0.002667
OBS_60_CNT_SOCIAL_CIRCLE        0.002667
DEF_60_CNT_SOCIAL_CIRCLE        0.002667
DAYS_LAST_PHONE_CHANGE          0.000000
FLAG_DOCUMENT_2                 0.000000
FLAG_DOCUMENT_3                 0.000000
FLAG_DOCUMENT_4                 0.000000
FLAG_DOCUMENT_5                 0.000000
FLAG_DOCUMENT_6                 0.000000
FLAG_DOCUMENT_7                 0.000000
FLAG_DOCUMENT_8                 0.000000
FLAG_DOCUMENT_9                 0.000000
FLAG_DOCUMENT_10                0.000000
FLAG_DOCUMENT_11                0.000000
FLAG_DOCUMENT_12                0.000000
FLAG_DOCUMENT_13                0.000000
FLAG_DOCUMENT_14                0.000000
FLAG_DOCUMENT_15                0.000000
FLAG_DOCUMENT_16                0.000000
FLAG_DOCUMENT_17                0.000000
FLAG_DOCUMENT_18                0.000000
FLAG_DOCUMENT_19                0.000000
FLAG_DOCUMENT_20                0.000000
FLAG_DOCUMENT_21                0.000000
AMT_REQ_CREDIT_BUREAU_HOUR      0.134760
AMT_REQ_CREDIT_BUREAU_DAY       0.134760
AMT_REQ_CREDIT_BUREAU_WEEK      0.134760
AMT_REQ_CREDIT_BUREAU_MON       0.134760
AMT_REQ_CREDIT_BUREAU_QRT       0.134760
AMT_REQ_CREDIT_BUREAU_YEAR      0.134760
dtype: float64

#### Обращение к столбцам и строкам

In [21]:
df.iloc[3, 4]

'Y'

In [22]:
df.iloc[3:6, 4:12]

,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE
3,Y,Y,0,126000.0,139230.0,10903.5,112500.0,Other_B
4,N,N,0,225000.0,1800000.0,49500.0,1800000.0,Unaccompanied
5,N,Y,0,144000.0,675000.0,19867.5,675000.0,Unaccompanied

In [23]:
df.iloc[[1, 3], [4, 7]]

  FLAG_OWN_CAR  AMT_INCOME_TOTAL
1            N           58500.0
3            Y          126000.0

In [24]:
df.loc[3, 'FLAG_OWN_REALTY']

'Y'

In [26]:
df[['FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT']].head(3)

  FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT
0               Y             0           54000.0     50940.0
1               N             0           58500.0    269550.0
2               Y             0          126000.0    180000.0

#### Объекты pd.Series и pd.DataFrame

https://pandas.pydata.org/docs/reference/api/pandas.Series.html

https://pandas.pydata.org/docs/reference/frame.html

In [27]:
type(df)

pandas.core.frame.DataFrame

In [28]:
type(df['NAME_EDUCATION_TYPE'])

pandas.core.series.Series

In [29]:
df['NAME_EDUCATION_TYPE'].head()

0    Secondary / secondary special
1    Secondary / secondary special
2                 Higher education
3    Secondary / secondary special
4                 Higher education
Name: NAME_EDUCATION_TYPE, dtype: object

#### Фильтрация данных

In [30]:
df[df['CODE_GENDER'] == 'F'].shape

(20088, 122)

In [31]:
df[df['CODE_GENDER'] == 'F'].head(2)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,163465,0,Cash loans,F,N,Y,0,54000.0,50940.0,5166.0,45000.0,Unaccompanied,State servant,Secondary / secondary special,Married,House / apartment,0.031329,-18735,-5347,-6359.0,-2115,NaN,1,1,0,1,0,0,Cooking staff,2.0,2,2,FRIDAY,9,0,0,0,0,0,0,Medicine,NaN,0.262258,0.417100,0.0082,0.0,0.9702,0.592,0.0015,0.0,0.0345,0.0417,0.0833,0.0395,0.0067,0.0105,0.0,0.0,0.0084,0.0,0.9702,0.608,0.0015,0.0,0.0345,0.0417,0.0833,0.0404,0.0073,0.0109,0.0,0.0,0.0083,0.0,0.9702,0.5975,0.0015,0.0,0.0345,0.0417,0.0833,0.0402,0.0068,0.0107,0.0,0.0,reg oper account,block of flats,0.0082,"Stone, brick",No,0.0,0.0,0.0,0.0,-1059.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
4,140507,0,Cash loans,F,N,N,0,225000.0,1800000.0,49500.0,1800000.0,Unaccompanied,State servant,Higher education,Married,House / apartment,0.035792,-19622,-11059,-3538.0,-3083,NaN,1,1,0,1,0,0,Core staff,2.0,2,2,THURSDAY,14,0,0,0,0,0,0,School,0.620969,0.684274,0.670652,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,-1718.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,2.0,8.0

In [32]:
df.CODE_GENDER.value_counts(dropna=False)

F    20088
M    10663
Name: CODE_GENDER, dtype: int64

In [33]:
mask = (df['CODE_GENDER'] == 'F')&(df['AMT_INCOME_TOTAL']>50000)&(df['FLAG_OWN_CAR'] == 'Y')

df[mask].head(2)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
8,448580,0,Cash loans,F,Y,Y,1,211500.0,1324440.0,47700.0,1170000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.019689,-19339,-1693,-4954.0,-2898,12.0,1,1,1,1,0,0,Low-skill Laborers,3.0,2,2,TUESDAY,12,0,0,0,0,0,0,Trade: type 3,0.499857,0.423556,0.147346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,0.0,5.0,0.0,-138.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
11,427416,0,Revolving loans,F,Y,Y,0,103500.0,247500.0,12375.0,247500.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.015221,-13599,-575,-5587.0,-4127,0.0,1,1,0,1,0,1,Core staff,2.0,2,2,TUESDAY,16,0,0,0,0,1,1,Self-employed,0.855350,0.610441,0.723837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0.0,3.0,0.0,-234.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,3.0,0.0,1.0

In [34]:
df[mask].descbribe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,4481.000000,4481.000000,4481.000000,4.481000e+03,4.481000e+03,4481.000000,4.481000e+03,4481.000000,4481.000000,4481.000000,4481.000000,4481.000000,4481.000000,4481.0,4481.000000,4481.000000,4481.000000,4481.000000,4481.000000,4481.000000,4481.000000,4481.000000,4481.000000,4481.000000,4481.000000,4481.000000,4481.000000,4481.000000,4481.000000,2444.000000,4472.000000,3761.000000,2243.000000,1890.000000,2314.000000,1548.000000,1398.000000,2136.000000,2257.000000,2278.000000,1508.000000,1842.000000,1466.000000,2242.000000,1418.000000,2038.000000,2243.000000,1890.000000,2314.000000,1548.000000,1398.000000,2136.000000,2257.000000,2278.000000,1508.000000,1842.000000,1466.000000,2242.000000,1418.000000,2038.000000,2243.000000,1890.000000,2314.000000,1548.000000,1398.000000,2136.000000,2257.000000,2278.000000,1508.000000,1842.000000,1466.000000,2242.000000,1418.000000,2038.000000,2345.000000,4470.000000,4470.000000,4470.000000,4470.000000,4481.000000,4481.0,4481.000000,4481.0,4481.000000,4481.000000,4481.0,4481.000000,4481.000000,4481.0,4481.000000,4481.0,4481.000000,4481.000000,4481.000000,4481.000000,4481.000000,4481.000000,4481.000000,4481.000000,4481.0,3984.000000,3984.000000,3984.000000,3984.000000,3984.000000,3984.000000
mean,279634.494086,0.056014,0.503905,1.828229e+05,6.773325e+05,29791.917094,6.127888e+05,0.021667,-15391.831957,40540.856282,-4636.613479,-2864.013613,12.332069,1.0,0.882839,0.195492,0.998438,0.276054,0.078331,2.316224,2.044410,2.021201,12.159563,0.009150,0.036599,0.031020,0.059139,0.223611,0.183441,0.552949,0.532573,0.505575,0.119009,0.087465,0.976496,0.758898,0.050905,0.083332,0.150805,0.228952,0.237654,0.067186,0.105736,0.112588,0.008110,0.031250,0.114745,0.086722,0.975608,0.765610,0.048799,0.078700,0.146298,0.224529,0.233942,0.066071,0.109556,0.110500,0.007171,0.029743,0.118997,0.086933,0.976498,0.762130,0.050543,0.082481,0.150339,0.228735,0.237313,0.068134,0.106239,0.113512,0.007587,0.031014,0.107608,1.461745,0.145861,1.443177,0.098881,-1039.891542,0.0,0.731310,0.0,0.010712,0.050658,0.0,0.091944,0.006249,0.0,0.003124,0.0,0.007364,0.003571,0.003124,0.007811,0.000223,0.005802,0.000446,0.000669,0.0,0.006526,0.007028,0.040914,0.307229,0.261044,1.815010
std,102791.728000,0.229975,0.764179,1.140576e+05,4.279338e+05,14928.678805,3.947152e+05,0.014191,3852.440419,118320.287343,3351.302900,1553.860290,13.685220,0.0,0.321648,0.396623,0.039498,0.447094,0.268721,0.899766,0.512383,0.508628,3.330491,0.095226,0.187796,0.173391,0.235910,0.416711,0.387071,0.191812,0.182838,0.193454,0.116370,0.083510,0.070498,0.115021,0.095961,0.142157,0.101613,0.148261,0.167523,0.083241,0.108170,0.120461,0.031054,0.080379,0.114370,0.086062,0.076624,0.111553,0.095120,0.139923,0.102312,0.147147,0.167439,0.084497,0.111334,0.121978,0.027931,0.082302,0.115838,0.083544,0.071782,0.113504,0.095520,0.142020,0.101804,0.148980,0.168325,0.084672,0.107049,0.122204,0.028002,0.081058,0.119202,2.305342,0.443974,2.285755,0.361585,841.671679,0.0,0.443328,0.0,0.102954,0.219324,0.0,0.288979,0.078810,0.0,0.055814,0.0,0.085509,0.059655,0.055814,0.088042,0.014939,0.075960,0.021124,0.025869,0.0,0.080530,0.116225,0.229798,0.996851,0.590857,1.769455
min,100156.000000,0.000000,0.000000,5.220000e+04,4.500000e+04,2754.000000,4.500000e+04,0.000290,-25117.000000,-14284.000000,-16955.000000,-6265.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.042715,0.000039,0.000527,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-3861.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189275.000000,0.000000,0.000000,1.125000e+05,3.284055e+05,19206.000000,2.745000e+05,0.010147,-18259.000000,-3090.000000,-6995.000000,-4267.000000,4.000000,1.0,1.000000,0.000000,1.000000,0.000000,0.000000,2.000000,2.000000,2.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.407038,0.428286,0.370650,0.056700,0.043725,0.976700,0.694000,0.007700,0.000000,0.069000,0.166700,0.083300,0.018450,0.050400,0.045925,0.000000,0.000000,0.051500,0.040000,0.976200,0.706000,0.007200,0.000000,0.069000,0.166700,0.083300,0.016625,0.054200,0.042600,0.000000,0.000000,0.057300,0.042825,0.976700,0.698100,0.007800,0.000000,0.069000,0.166700,0.083300,0.018425,0.051300,0.045675,0.000000,0.000000,0.041500,0.000000,0.000000,0.000000,0.000000,-1651.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,280394.000000,0.000000,0.000000,1.575000e+05,5.714865e+05,27189.000000,4.950000e+05,0.019101,-15030.000000,-1576.000000,-4196.000000,-3010.000000,9.000000,1.0,1.000000,0.000000,1.000000,0.000000,0.000000,2.000000,2.000000,2.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.567843,0.581940,0.529890,0.085600,0.075800,0.982100,0.762000,0.022150,0.000000,0.137900,0.166700,0.208300,0.049000,0.075600,0.074850,0.000000,0.003700,0.084000,0.074150,0.981600,0.771300,0.019750,0.000000,0.137900,0.166700,0.208300,0.047100,0.076200,0.073650,0.000000,0.001100,0.083300,0.075300,0.982100,0.765200,0.021600,0.000000,0.137900,0.166700,0.208300,0.049500,0.076100,0.075200,0.000000,0.003250,0.068800,0.000000,0.000000,0.000000,0.000000,-856.000000,0.0,1.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,370405.000000,0.000000,1.000000,2.250000e+05,9.112635e+05,37800.000000,8.910000e+05,0.028663,-12324.000000,-574.000000,-1710.000000,-1477.000000,15.000000,1.0,1.000000,0.000000,1.000000,1.000000,0.000000,3.000000,2.000000,2.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.705005,0.673690,0.659406,0.148200,0.113175,0.987100,0.830000,0.056975,0.134900,0.206900,0.333300,0.375000,0.086700,0.124400,0.137725,0.003900,0.029500,0.141800,0.113050,0.987100,0.830100,0.054175,0.120800,0.206900,0.333300,0.375000,0.086375,0.132200,0.129325,0.003900,0.024400,0.148900,0.113100,0.987100,0.832300,0.057000,0.120000,0.206900,0.333300,0.375000,0.087950,0.123100,0.136575,0.003900,0.028275,0.133800,2.000000,0.000000,2.000000,0.000000,-338.000000,0.0,1.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456201.000000,1.000000,5.000000,2.250000e+06,2.695500e+06,125343.000000,2.520000e+06,0.072508,-7489.000000,365243.000000,-1.000000,-1.000000,65.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,7.000000,3.000000,3.000000,23.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.939097,0.809612,0.880268,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.518600,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.466900,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.465800,1.000000,1.000000,18.000000,6.000000,18.000000,5.000000,0.000000,0.0,1.000000,0.0,1.000000,1.000000,0.0,1.000000,1.000000,0.0,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,5.000000,5.000000,15.000000,5.000000,9.000000

In [35]:
df.query("CODE_GENDER=='F'").shape

(20088, 122)

In [36]:
df.query("(CODE_GENDER=='F')&(AMT_INCOME_TOTAL>50000)").shape

(19711, 122)

In [37]:
income_min = 50000
df.query("(CODE_GENDER=='F')&(AMT_INCOME_TOTAL>@income_min)").shape

(19711, 122)

In [38]:
type(df.query("(CODE_GENDER=='F')&(AMT_INCOME_TOTAL>@income_min)"))

pandas.core.frame.DataFrame

#### Сортировка

In [41]:
df_sorted = df.sort_values('AMT_INCOME_TOTAL', ascending = True)
df_sorted.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
20979,316377,0,Cash loans,F,N,N,0,26100.0,54000.0,5391.0,54000.0,Family,Pensioner,Secondary / secondary special,Widow,House / apartment,0.019101,-21469,365243,-7531.0,-4825,NaN,1,0,0,1,0,0,NaN,1.0,2,2,TUESDAY,12,0,0,0,0,0,0,XNA,NaN,0.600664,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-2101.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7632,253920,0,Cash loans,F,N,Y,0,26460.0,101880.0,6763.5,90000.0,Unaccompanied,Pensioner,Lower secondary,Married,House / apartment,0.018209,-20695,365243,-12907.0,-2547,NaN,1,0,0,1,0,0,NaN,2.0,3,3,MONDAY,6,0,0,0,0,0,0,XNA,NaN,0.112708,NaN,NaN,0.0286,0.9836,NaN,NaN,NaN,0.1034,0.0417,NaN,NaN,NaN,0.0107,NaN,0.0262,NaN,0.0297,0.9836,NaN,NaN,NaN,0.1034,0.0417,NaN,NaN,NaN,0.0111,NaN,0.0277,NaN,0.0286,0.9836,NaN,NaN,NaN,0.1034,0.0417,NaN,NaN,NaN,0.0109,NaN,0.0267,NaN,NaN,0.0141,NaN,No,0.0,0.0,0.0,0.0,-271.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19804,303289,0,Cash loans,F,Y,Y,0,26550.0,571500.0,16281.0,571500.0,Unaccompanied,Unemployed,Secondary / secondary special,Widow,House / apartment,0.004960,-20185,365243,-3775.0,-3726,16.0,1,0,0,1,0,0,NaN,1.0,2,2,THURSDAY,11,0,0,0,0,0,0,XNA,NaN,0.679541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1091.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
16359,251601,0,Cash loans,M,Y,Y,0,27000.0,182016.0,10579.5,144000.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.031329,-22982,365243,-6132.0,-4013,12.0,1,0,0,1,0,0,NaN,2.0,2,2,WEDNESDAY,7,0,0,0,0,0,0,XNA,NaN,0.342840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-730.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1566,255107,0,Cash loans,F,N,N,0,27000.0,159264.0,4959.0,126000.0,Unaccompanied,Pensioner,Secondary / secondary special,Civil marriage,House / apartment,0.018634,-20781,365243,-257.0,-4305,NaN,1,0,0,1,0,0,NaN,2.0,2,2,MONDAY,9,0,0,0,1,0,0,XNA,NaN,0.066368,0.46866,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
df_sorted.tail()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
18728,206341,0,Cash loans,M,Y,N,0,2025000.0,450000.0,35554.5,450000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.018801,-10887,-1515,-887.0,-3218,16.0,1,1,1,1,1,0,Managers,2.0,2,2,SATURDAY,16,0,0,0,0,0,0,Business Entity Type 3,0.393458,0.525243,0.747663,0.3423,0.0816,0.9975,0.9592,0.1415,0.1600,0.0690,0.5417,0.5833,0.1075,0.2749,0.2646,0.0193,0.0342,0.3487,0.0846,0.9975,0.9608,0.1427,0.1611,0.0690,0.5417,0.5833,0.1100,0.3003,0.2757,0.0195,0.0362,0.3456,0.0816,0.9975,0.9597,0.1424,0.16,0.0690,0.5417,0.5833,0.1094,0.2796,0.2694,0.0194,0.0349,reg oper account,block of flats,0.2929,Monolithic,No,0.0,0.0,0.0,0.0,-1284.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
23197,141198,0,Cash loans,F,Y,Y,1,2025000.0,733315.5,41076.0,679500.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.018850,-8312,-813,-1528.0,-743,14.0,1,1,0,1,1,0,Sales staff,3.0,2,2,SATURDAY,16,0,0,0,0,0,0,Business Entity Type 3,0.465245,0.647443,NaN,0.1474,0.0869,0.9886,0.8436,0.0232,0.1600,0.1379,0.3333,0.3750,0.1079,0.1202,0.1539,0.0000,0.0000,0.1502,0.0902,0.9886,0.8497,0.0234,0.1611,0.1379,0.3333,0.3750,0.1104,0.1313,0.1603,0.0000,0.0000,0.1489,0.0869,0.9886,0.8457,0.0233,0.16,0.1379,0.3333,0.3750,0.1098,0.1223,0.1567,0.0000,0.0000,reg oper account,block of flats,0.1337,"Stone, brick",No,1.0,1.0,1.0,1.0,-643.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
24182,194130,0,Revolving loans,F,Y,N,0,2250000.0,2250000.0,112500.0,2250000.0,Unaccompanied,Pensioner,Higher education,Single / not married,House / apartment,0.072508,-13081,365243,-1791.0,-4885,0.0,1,0,0,1,1,0,NaN,1.0,1,1,MONDAY,15,0,0,0,0,0,0,XNA,NaN,0.698872,0.558507,0.0725,0.0633,0.9752,0.6600,0.0000,0.0176,0.0993,0.2312,0.2221,0.0000,0.0590,0.0607,0.0004,0.0045,0.0840,0.0396,0.9752,0.6733,0.0000,0.0000,0.1034,0.1667,0.2083,0.0000,0.0735,0.0505,0.0000,0.0000,0.0833,0.0617,0.9752,0.6645,0.0000,0.00,0.1034,0.1667,0.2083,0.0000,0.0676,0.0686,0.0000,0.0000,reg oper account,block of flats,0.0382,Panel,No,0.0,0.0,0.0,0.0,-726.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,3.0,0.0,0.0
22743,432980,0,Cash loans,M,Y,Y,0,4500000.0,1755000.0,61132.5,1755000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.010032,-18784,-3618,-9447.0,-2315,11.0,1,1,1,1,0,0,Managers,2.0,2,2,SATURDAY,2,0,0,0,0,0,0,Self-employed,0.429508,0.407386,0.345785,0.1093,0.1009,0.9871,0.8232,0.0459,0.1200,0.1034,0.3333,0.0417,0.0000,0.0883,0.0703,0.0039,0.0459,0.1113,0.1047,0.9871,0.8301,0.0463,0.1208,0.1034,0.3333,0.0417,0.0000,0.0964,0.0732,0.0039,0.0485,0.1103,0.1009,0.9871,0.8256,0.0462,0.12,0.1034,0.3333,0.0417,0.0000,0.0898,0.0715,0.0039,0.0468,reg oper account,block of flats,0.0903,Panel,No,3.0,0.0,3.0,0.0,-284.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1.0,0.0,0.0,0.0
1614,336147,0,Cash loans,M,Y,Y,2,18000090.0,675000.0,69295.5,675000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.030755,-15704,-4961,-3338.0,-4728,7.0,1,1,0,1,0,0,NaN,4.0,2,2,THURSDAY,22,0,0,0,0,0,0,Business Entity Type 3,0.543417,0.788606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,-1133.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
df_sorted = df.sort_values('AMT_INCOME_TOTAL', ascending = False)
df_sorted.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
1614,336147,0,Cash loans,M,Y,Y,2,18000090.0,675000.0,69295.5,675000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.030755,-15704,-4961,-3338.0,-4728,7.0,1,1,0,1,0,0,NaN,4.0,2,2,THURSDAY,22,0,0,0,0,0,0,Business Entity Type 3,0.543417,0.788606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,-1133.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
22743,432980,0,Cash loans,M,Y,Y,0,4500000.0,1755000.0,61132.5,1755000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.010032,-18784,-3618,-9447.0,-2315,11.0,1,1,1,1,0,0,Managers,2.0,2,2,SATURDAY,2,0,0,0,0,0,0,Self-employed,0.429508,0.407386,0.345785,0.1093,0.1009,0.9871,0.8232,0.0459,0.1200,0.1034,0.3333,0.0417,0.0000,0.0883,0.0703,0.0039,0.0459,0.1113,0.1047,0.9871,0.8301,0.0463,0.1208,0.1034,0.3333,0.0417,0.0000,0.0964,0.0732,0.0039,0.0485,0.1103,0.1009,0.9871,0.8256,0.0462,0.12,0.1034,0.3333,0.0417,0.0000,0.0898,0.0715,0.0039,0.0468,reg oper account,block of flats,0.0903,Panel,No,3.0,0.0,3.0,0.0,-284.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1.0,0.0,0.0,0.0
24182,194130,0,Revolving loans,F,Y,N,0,2250000.0,2250000.0,112500.0,2250000.0,Unaccompanied,Pensioner,Higher education,Single / not married,House / apartment,0.072508,-13081,365243,-1791.0,-4885,0.0,1,0,0,1,1,0,NaN,1.0,1,1,MONDAY,15,0,0,0,0,0,0,XNA,NaN,0.698872,0.558507,0.0725,0.0633,0.9752,0.6600,0.0000,0.0176,0.0993,0.2312,0.2221,0.0000,0.0590,0.0607,0.0004,0.0045,0.0840,0.0396,0.9752,0.6733,0.0000,0.0000,0.1034,0.1667,0.2083,0.0000,0.0735,0.0505,0.0000,0.0000,0.0833,0.0617,0.9752,0.6645,0.0000,0.00,0.1034,0.1667,0.2083,0.0000,0.0676,0.0686,0.0000,0.0000,reg oper account,block of flats,0.0382,Panel,No,0.0,0.0,0.0,0.0,-726.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,3.0,0.0,0.0
18728,206341,0,Cash loans,M,Y,N,0,2025000.0,450000.0,35554.5,450000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.018801,-10887,-1515,-887.0,-3218,16.0,1,1,1,1,1,0,Managers,2.0,2,2,SATURDAY,16,0,0,0,0,0,0,Business Entity Type 3,0.393458,0.525243,0.747663,0.3423,0.0816,0.9975,0.9592,0.1415,0.1600,0.0690,0.5417,0.5833,0.1075,0.2749,0.2646,0.0193,0.0342,0.3487,0.0846,0.9975,0.9608,0.1427,0.1611,0.0690,0.5417,0.5833,0.1100,0.3003,0.2757,0.0195,0.0362,0.3456,0.0816,0.9975,0.9597,0.1424,0.16,0.0690,0.5417,0.5833,0.1094,0.2796,0.2694,0.0194,0.0349,reg oper account,block of flats,0.2929,Monolithic,No,0.0,0.0,0.0,0.0,-1284.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
23197,141198,0,Cash loans,F,Y,Y,1,2025000.0,733315.5,41076.0,679500.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.018850,-8312,-813,-1528.0,-743,14.0,1,1,0,1,1,0,Sales staff,3.0,2,2,SATURDAY,16,0,0,0,0,0,0,Business Entity Type 3,0.465245,0.647443,NaN,0.1474,0.0869,0.9886,0.8436,0.0232,0.1600,0.1379,0.3333,0.3750,0.1079,0.1202,0.1539,0.0000,0.0000,0.1502,0.0902,0.9886,0.8497,0.0234,0.1611,0.1379,0.3333,0.3750,0.1104,0.1313,0.1603,0.0000,0.0000,0.1489,0.0869,0.9886,0.8457,0.0233,0.16,0.1379,0.3333,0.3750,0.1098,0.1223,0.1567,0.0000,0.0000,reg oper account,block of flats,0.1337,"Stone, brick",No,1.0,1.0,1.0,1.0,-643.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0

#### Трансформация столбцов, lambda-функции

Прологарифмируем доход

In [45]:
import numpy as np

In [46]:
df['AMT_INCOME_TOTAL_LOG'] = np.log(df['AMT_INCOME_TOTAL'])
df['AMT_INCOME_TOTAL_LOG'].describe()

count    30751.000000
mean        11.910768
std          0.489308
min         10.169691
25%         11.630709
50%         11.908340
75%         12.218495
max         16.705887
Name: AMT_INCOME_TOTAL_LOG, dtype: float64

Заменим F/M на 0/1 в столбце Пол

In [47]:
df['CODE_GENDER_BINARY'] = np.where(df['CODE_GENDER']=='F', 1, 0)
df['CODE_GENDER_BINARY'].value_counts()

1    20088
0    10663
Name: CODE_GENDER_BINARY, dtype: int64

In [48]:
df['CODE_GENDER_BINARY1'] = df['CODE_GENDER'].apply(lambda x: 1 if x=='F' else 0)
df['CODE_GENDER_BINARY1'].value_counts()

1    20088
0    10663
Name: CODE_GENDER_BINARY1, dtype: int64

In [49]:
gender_dict = {
    'F':1,
    'M':0
}

df['CODE_GENDER_BINARY2'] = df['CODE_GENDER'].map(gender_dict)
df['CODE_GENDER_BINARY2'].value_counts()

1    20088
0    10663
Name: CODE_GENDER_BINARY2, dtype: int64

Переименуем столбцы: приведем к нижнему регистру

In [50]:
df = df.rename(str.lower, axis = 'columns')

In [51]:
df.head()

,sk_id_curr,target,name_contract_type,code_gender,flag_own_car,flag_own_realty,cnt_children,amt_income_total,amt_credit,amt_annuity,amt_goods_price,name_type_suite,name_income_type,name_education_type,name_family_status,name_housing_type,region_population_relative,days_birth,days_employed,days_registration,days_id_publish,own_car_age,flag_mobil,flag_emp_phone,flag_work_phone,flag_cont_mobile,flag_phone,flag_email,occupation_type,cnt_fam_members,region_rating_client,region_rating_client_w_city,weekday_appr_process_start,hour_appr_process_start,reg_region_not_live_region,reg_region_not_work_region,live_region_not_work_region,reg_city_not_live_city,reg_city_not_work_city,live_city_not_work_city,organization_type,ext_source_1,ext_source_2,ext_source_3,apartments_avg,basementarea_avg,years_beginexpluatation_avg,years_build_avg,commonarea_avg,elevators_avg,entrances_avg,floorsmax_avg,floorsmin_avg,landarea_avg,livingapartments_avg,livingarea_avg,nonlivingapartments_avg,nonlivingarea_avg,apartments_mode,basementarea_mode,years_beginexpluatation_mode,years_build_mode,commonarea_mode,elevators_mode,entrances_mode,floorsmax_mode,floorsmin_mode,landarea_mode,livingapartments_mode,livingarea_mode,nonlivingapartments_mode,nonlivingarea_mode,apartments_medi,basementarea_medi,years_beginexpluatation_medi,years_build_medi,commonarea_medi,elevators_medi,entrances_medi,floorsmax_medi,floorsmin_medi,landarea_medi,livingapartments_medi,livingarea_medi,nonlivingapartments_medi,nonlivingarea_medi,fondkapremont_mode,housetype_mode,totalarea_mode,wallsmaterial_mode,emergencystate_mode,obs_30_cnt_social_circle,def_30_cnt_social_circle,obs_60_cnt_social_circle,def_60_cnt_social_circle,days_last_phone_change,flag_document_2,flag_document_3,flag_document_4,flag_document_5,flag_document_6,flag_document_7,flag_document_8,flag_document_9,flag_document_10,flag_document_11,flag_document_12,flag_document_13,flag_document_14,flag_document_15,flag_document_16,flag_document_17,flag_document_18,flag_document_19,flag_document_20,flag_document_21,amt_req_credit_bureau_hour,amt_req_credit_bureau_day,amt_req_credit_bureau_week,amt_req_credit_bureau_mon,amt_req_credit_bureau_qrt,amt_req_credit_bureau_year,amt_income_total_log,code_gender_binary,code_gender_binary1,code_gender_binary2
0,163465,0,Cash loans,F,N,Y,0,54000.0,50940.0,5166.0,45000.0,Unaccompanied,State servant,Secondary / secondary special,Married,House / apartment,0.031329,-18735,-5347,-6359.0,-2115,NaN,1,1,0,1,0,0,Cooking staff,2.0,2,2,FRIDAY,9,0,0,0,0,0,0,Medicine,NaN,0.262258,0.417100,0.0082,0.0,0.9702,0.5920,0.0015,0.0,0.0345,0.0417,0.0833,0.0395,0.0067,0.0105,0.0,0.0,0.0084,0.0,0.9702,0.6080,0.0015,0.0,0.0345,0.0417,0.0833,0.0404,0.0073,0.0109,0.0,0.0,0.0083,0.0,0.9702,0.5975,0.0015,0.0,0.0345,0.0417,0.0833,0.0402,0.0068,0.0107,0.0,0.0,reg oper account,block of flats,0.0082,"Stone, brick",No,0.0,0.0,0.0,0.0,-1059.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,10.896739,1,1,1
1,256730,0,Cash loans,M,N,N,0,58500.0,269550.0,10116.0,225000.0,Unaccompanied,Pensioner,Secondary / secondary special,Separated,House / apartment,0.020246,-23152,365243,-15551.0,-4795,NaN,1,0,0,1,0,0,NaN,1.0,3,3,MONDAY,8,0,0,0,0,0,0,XNA,NaN,0.336225,NaN,0.0082,0.0,0.9518,0.3404,0.0068,0.0,0.0690,0.0417,0.0833,0.0254,0.0067,0.0050,0.0,0.0,0.0084,0.0,0.9518,0.3662,0.0069,0.0,0.0690,0.0417,0.0833,0.0260,0.0073,0.0052,0.0,0.0,0.0083,0.0,0.9518,0.3492,0.0068,0.0,0.0690,0.0417,0.0833,0.0259,0.0068,0.0051,0.0,0.0,not specified,block of flats,0.0039,Wooden,Yes,7.0,0.0,7.0,0.0,-2.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2.0,0.0,0.0,0.0,0.0,0.0,10.976782,0,0,0
2,208600,0,Revolving loans,M,N,Y,0,126000.0,180000.0,9000.0,180000.0,Unaccompanied,Commercial associate,Higher education,Single / not married,House / apartment,0.019689,-9172,-2229,-1060.0,-1850,NaN,1,1,1,1,1,0,Managers,1.0,2,2,THURSDAY,18,0,0,0,1,1,0,Military,NaN,0.500816,0.377404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-817.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,11.744037,0,0,0
3,444689,0,Cash loans,M,Y,Y,0,126000.0,139230.0,10903.5,112500.0,Other_B,Pensioner,Secondary / secondary special,Married,House / apartment,0.007020,-23445,365243,-4303.0,-4765,3.0,1,0,0,1,0,0,NaN,2.0,2,2,WEDNESDAY,11,0,0,0,0,0,0,XNA,NaN,0.289591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,6.0,11.744037,0,0,0
4,140507,0,Cash loans,F,N,N,0,225000.0,1800000.0,49500.0,1800000.0,Unaccompanied,State servant,Higher education,Married,House / apartment,0.035792,-19622,-11059,-3538.0,-3083,NaN,1,1,0,1,0,0,Core staff,2.0,2,2,THURSDAY,14,0,0,0,0,0,0,School,0.620969,0.684274,0.670652,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,-1718.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,2.0,8.0,12.323856,1,1,1

In [52]:
df = df.rename(columns = lambda x: x.upper())
df.head(2)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,AMT_INCOME_TOTAL_LOG,CODE_GENDER_BINARY,CODE_GENDER_BINARY1,CODE_GENDER_BINARY2
0,163465,0,Cash loans,F,N,Y,0,54000.0,50940.0,5166.0,45000.0,Unaccompanied,State servant,Secondary / secondary special,Married,House / apartment,0.031329,-18735,-5347,-6359.0,-2115,NaN,1,1,0,1,0,0,Cooking staff,2.0,2,2,FRIDAY,9,0,0,0,0,0,0,Medicine,NaN,0.262258,0.4171,0.0082,0.0,0.9702,0.5920,0.0015,0.0,0.0345,0.0417,0.0833,0.0395,0.0067,0.0105,0.0,0.0,0.0084,0.0,0.9702,0.6080,0.0015,0.0,0.0345,0.0417,0.0833,0.0404,0.0073,0.0109,0.0,0.0,0.0083,0.0,0.9702,0.5975,0.0015,0.0,0.0345,0.0417,0.0833,0.0402,0.0068,0.0107,0.0,0.0,reg oper account,block of flats,0.0082,"Stone, brick",No,0.0,0.0,0.0,0.0,-1059.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,10.896739,1,1,1
1,256730,0,Cash loans,M,N,N,0,58500.0,269550.0,10116.0,225000.0,Unaccompanied,Pensioner,Secondary / secondary special,Separated,House / apartment,0.020246,-23152,365243,-15551.0,-4795,NaN,1,0,0,1,0,0,NaN,1.0,3,3,MONDAY,8,0,0,0,0,0,0,XNA,NaN,0.336225,NaN,0.0082,0.0,0.9518,0.3404,0.0068,0.0,0.0690,0.0417,0.0833,0.0254,0.0067,0.0050,0.0,0.0,0.0084,0.0,0.9518,0.3662,0.0069,0.0,0.0690,0.0417,0.0833,0.0260,0.0073,0.0052,0.0,0.0,0.0083,0.0,0.9518,0.3492,0.0068,0.0,0.0690,0.0417,0.0833,0.0259,0.0068,0.0051,0.0,0.0,not specified,block of flats,0.0039,Wooden,Yes,7.0,0.0,7.0,0.0,-2.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2.0,0.0,0.0,0.0,0.0,0.0,10.976782,0,0,0

In [53]:
df = df.rename(columns = lambda x: x.lower())

In [54]:
df.columns = [x.lower() for x in df.columns]

Составить столбец на основе наличия автомобиля и дохода: 
* если доход выше среднего, и есть авто
* доход выше среднего и нет авто
* есть авто, доход ниже среднего
* нет авто и доход ниже среднего

In [55]:
df.head(2)

,sk_id_curr,target,name_contract_type,code_gender,flag_own_car,flag_own_realty,cnt_children,amt_income_total,amt_credit,amt_annuity,amt_goods_price,name_type_suite,name_income_type,name_education_type,name_family_status,name_housing_type,region_population_relative,days_birth,days_employed,days_registration,days_id_publish,own_car_age,flag_mobil,flag_emp_phone,flag_work_phone,flag_cont_mobile,flag_phone,flag_email,occupation_type,cnt_fam_members,region_rating_client,region_rating_client_w_city,weekday_appr_process_start,hour_appr_process_start,reg_region_not_live_region,reg_region_not_work_region,live_region_not_work_region,reg_city_not_live_city,reg_city_not_work_city,live_city_not_work_city,organization_type,ext_source_1,ext_source_2,ext_source_3,apartments_avg,basementarea_avg,years_beginexpluatation_avg,years_build_avg,commonarea_avg,elevators_avg,entrances_avg,floorsmax_avg,floorsmin_avg,landarea_avg,livingapartments_avg,livingarea_avg,nonlivingapartments_avg,nonlivingarea_avg,apartments_mode,basementarea_mode,years_beginexpluatation_mode,years_build_mode,commonarea_mode,elevators_mode,entrances_mode,floorsmax_mode,floorsmin_mode,landarea_mode,livingapartments_mode,livingarea_mode,nonlivingapartments_mode,nonlivingarea_mode,apartments_medi,basementarea_medi,years_beginexpluatation_medi,years_build_medi,commonarea_medi,elevators_medi,entrances_medi,floorsmax_medi,floorsmin_medi,landarea_medi,livingapartments_medi,livingarea_medi,nonlivingapartments_medi,nonlivingarea_medi,fondkapremont_mode,housetype_mode,totalarea_mode,wallsmaterial_mode,emergencystate_mode,obs_30_cnt_social_circle,def_30_cnt_social_circle,obs_60_cnt_social_circle,def_60_cnt_social_circle,days_last_phone_change,flag_document_2,flag_document_3,flag_document_4,flag_document_5,flag_document_6,flag_document_7,flag_document_8,flag_document_9,flag_document_10,flag_document_11,flag_document_12,flag_document_13,flag_document_14,flag_document_15,flag_document_16,flag_document_17,flag_document_18,flag_document_19,flag_document_20,flag_document_21,amt_req_credit_bureau_hour,amt_req_credit_bureau_day,amt_req_credit_bureau_week,amt_req_credit_bureau_mon,amt_req_credit_bureau_qrt,amt_req_credit_bureau_year,amt_income_total_log,code_gender_binary,code_gender_binary1,code_gender_binary2
0,163465,0,Cash loans,F,N,Y,0,54000.0,50940.0,5166.0,45000.0,Unaccompanied,State servant,Secondary / secondary special,Married,House / apartment,0.031329,-18735,-5347,-6359.0,-2115,NaN,1,1,0,1,0,0,Cooking staff,2.0,2,2,FRIDAY,9,0,0,0,0,0,0,Medicine,NaN,0.262258,0.4171,0.0082,0.0,0.9702,0.5920,0.0015,0.0,0.0345,0.0417,0.0833,0.0395,0.0067,0.0105,0.0,0.0,0.0084,0.0,0.9702,0.6080,0.0015,0.0,0.0345,0.0417,0.0833,0.0404,0.0073,0.0109,0.0,0.0,0.0083,0.0,0.9702,0.5975,0.0015,0.0,0.0345,0.0417,0.0833,0.0402,0.0068,0.0107,0.0,0.0,reg oper account,block of flats,0.0082,"Stone, brick",No,0.0,0.0,0.0,0.0,-1059.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,10.896739,1,1,1
1,256730,0,Cash loans,M,N,N,0,58500.0,269550.0,10116.0,225000.0,Unaccompanied,Pensioner,Secondary / secondary special,Separated,House / apartment,0.020246,-23152,365243,-15551.0,-4795,NaN,1,0,0,1,0,0,NaN,1.0,3,3,MONDAY,8,0,0,0,0,0,0,XNA,NaN,0.336225,NaN,0.0082,0.0,0.9518,0.3404,0.0068,0.0,0.0690,0.0417,0.0833,0.0254,0.0067,0.0050,0.0,0.0,0.0084,0.0,0.9518,0.3662,0.0069,0.0,0.0690,0.0417,0.0833,0.0260,0.0073,0.0052,0.0,0.0,0.0083,0.0,0.9518,0.3492,0.0068,0.0,0.0690,0.0417,0.0833,0.0259,0.0068,0.0051,0.0,0.0,not specified,block of flats,0.0039,Wooden,Yes,7.0,0.0,7.0,0.0,-2.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2.0,0.0,0.0,0.0,0.0,0.0,10.976782,0,0,0

In [56]:
def bin_auto_income_func(x, mean_income):
    if x['amt_income_total']>mean_income and x['flag_own_car']=='Y':
        res = 'income_car'
    elif x['amt_income_total']>mean_income:
        res = 'income'
    elif x['flag_own_car'] == 'Y':
        res = 'car'
    else:
        res = 'no_income_car'
    return res

In [59]:
df['bin_auto_income'] = df.apply(lambda x: bin_auto_income_func(x, df['amt_income_total'].mean()), axis = 1)

In [60]:
df['bin_auto_income'].value_counts()

no_income_car    13532
income            6615
income_car        5487
car               5117
Name: bin_auto_income, dtype: int64

#### Groupby

Средний доход в разрезе F/M

In [61]:
df.groupby('code_gender').amt_income_total.mean()

code_gender
F    155266.333907
M    195317.213017
Name: amt_income_total, dtype: float64

Средний доход и средняя сумма кредита в разрезе F/M

In [62]:
df.groupby('code_gender')['amt_income_total', 'amt_credit'].mean()

/var/folders/b6/jwrkyjdn0vj5dzwm6918d7g00000gn/T/ipykernel_1581/2840073778.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('code_gender')['amt_income_total', 'amt_credit'].mean()

             amt_income_total     amt_credit
code_gender
F               155266.333907  595066.768145
M               195317.213017  609102.154037

Средний доход и средняя сумма кредита в разрезе F/M и в разрезе уровня образования

In [63]:
df.groupby(['code_gender', 'name_education_type'])['amt_income_total', 'amt_credit'].mean()

/var/folders/b6/jwrkyjdn0vj5dzwm6918d7g00000gn/T/ipykernel_1581/3039236724.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['code_gender', 'name_education_type'])['amt_income_total', 'amt_credit'].mean()

                                           amt_income_total     amt_credit
code_gender name_education_type
F           Academic degree                   198375.000000  736684.125000
            Higher education                  190462.534607  678456.927104
            Incomplete higher                 164799.904376  552787.563209
            Lower secondary                   117479.732143  450712.968750
            Secondary / secondary special     143002.142325  569653.917798
M           Academic degree                   261000.000000  495333.000000
            Higher education                  244406.979015  703558.642336
            Incomplete higher                 209650.691729  586899.857143
            Lower secondary                   145432.075472  507873.537736
            Secondary / secondary special     179717.289607  581921.989391

In [65]:
df.groupby(['name_education_type', 'code_gender'])['amt_income_total', 'amt_credit'].mean().unstack()

/var/folders/b6/jwrkyjdn0vj5dzwm6918d7g00000gn/T/ipykernel_1581/607670644.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['name_education_type', 'code_gender'])['amt_income_total', 'amt_credit'].mean().unstack()

                              amt_income_total                    amt_credit  \
code_gender                                  F              M              F
name_education_type
Academic degree                  198375.000000  261000.000000  736684.125000
Higher education                 190462.534607  244406.979015  678456.927104
Incomplete higher                164799.904376  209650.691729  552787.563209
Lower secondary                  117479.732143  145432.075472  450712.968750
Secondary / secondary special    143002.142325  179717.289607  569653.917798


code_gender                                M
name_education_type
Academic degree                495333.000000
Higher education               703558.642336
Incomplete higher              586899.857143
Lower secondary                507873.537736
Secondary / secondary special  581921.989391

Средний доход и максимальная сумма кредита в разрезе F/M и в разрезе уровня образования

Средний доход, 1 если средний доход более 200000, иначе 0  в разрезе F/M и в разрезе уровня образования

#### Style

Рассмотрим уровень дефолта в разрезе уровня образования

#### Деление переменной на бины

Разделим на бины возраст клиента

Посмотрим на уровень дефолта в разрезе возраста клиента

Посмотрим на уровень дефолта в разрезе возраста и пола клиента

### Задачи

#### 1. Для каждого типа контракта (name_contract_type) вывести по 5 заявок с наибольшей суммой кредита.

#### 2. Столбцы с категориальными переменными переименовать, добавляя префикс 'cat' к названию колонки.

#### 3. Изменить поле доход в случае, если он более 100 000: доход -> доход - 20%.

#### 4. Написать функцию, меняющую местами два столбца датафрейма.

#### 5. Вывести каждую n-ю строку в порядке возрастания суммы кредита для каждого бина по возрасту.